.conteudoPrincipal {
    width: 100%;
    height: 700px;
    background-image: url('../../assets/imagens/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p {
    background: transparent;
}

.planos {
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 10px;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

.planos a {
    color: rgb(237, 85, 100);
    transition: color 0.3s;
}

.planos a:hover {
    color: #F4BE8E;
}

